<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362894906074-ogri0doa9icujglj5qfkujap2jtvcpl8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362894906074-ogri0doa9icujglj5qfkujap2jtvcpl8</string>
	<key>API_KEY</key>
	<string>AIzaSyDGAYxmTwKjNFDw0Gwp0hYlhkJqSEGiDoU</string>
	<key>GCM_SENDER_ID</key>
	<string>362894906074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project.noticeme</string>
	<key>PROJECT_ID</key>
	<string>noticeme-f0af2</string>
	<key>STORAGE_BUCKET</key>
	<string>noticeme-f0af2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362894906074:ios:84f4c5550aa4c6bf85cbe3</string>
</dict>
</plist>